/packages/
/_ReSharper.Caches/
bin/
obj/
.idea/
deploy/
dist/
.direnv/
artifacts/
reports/
node_modules/
src/Client/.build
riderModule.iml
.vscode
setup-env.sh
.fake
*.fs.js
*.fs.js.map
*.sarif
.ts
.map
.fable
